/Obiektowość/BankApp/build/
/Tablice/Tablice-proceduralne/ArrayApp/nbproject/private/
/Sortowanie/bubbleSort.java/nbproject/private/
/Sortowanie/BubbleSortApp/nbproject/private/
/Sortowanie/BubbleSortApp/build/